

.aboutContainer {
  background: transparent linear-gradient(119deg, #677689 0%, #0F1C29 100%) 0% 0% no-repeat padding-box;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  /* bring your own prefixes */
  /* transform: translate(-50%, -50%); */
  overflow: auto;
  border: 4px solid red;


}

.heroImg>img {
  width: 100%;
  height: auto;
  border-radius: 76px;
  object-fit: cover;

}

.heroImg {
  width: 60%;
  height: 100%;
  background-size: cover;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 76px;
  opacity: 1;
  z-index: 4;
  margin: 5px;

}

.About {
  /* width: 365px;
  height: 41px; */
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-30)/var(--unnamed-line-spacing-41) var(--unnamed-font-family-open-sans);
  letter-spacing: var(--unnamed-character-spacing-0-3);
  color: var(--unnamed-color-fffffe);
  text-align: left;
  font: normal normal bold 30px/41px Open Sans;
  letter-spacing: 0.3px;
  color: #FFFFFE;
  opacity: 1;
}

p {
  /* Layout Properties */
  /* width: 431px;
  height: 480px; */
  /* UI Properties */
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-22)/var(--unnamed-line-spacing-30) var(--unnamed-font-family-open-sans);
  letter-spacing: var(--unnamed-character-spacing-0-22);
  color: var(--unnamed-color-d7b27b);
  text-align: left;
  font: normal normal normal 22px/30px Open Sans;
  letter-spacing: 0.22px;
  color: #D7B27B;
  opacity: 1;
}

.aboutTextContainer {
  /* width: 556px;
  height: 580px; */
  background: #FFFFFF21 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 44px;
  opacity: 1;
  padding: 1em;
  /* padding-left: 4em; */
  width: 40%;
  /* height: 80%; */
  z-index: 2;
}

.about {
  margin-top: 0;

}