
.landing {
  /* background-color: red; */
  width: 100vw;
  height: 100vh;
  background-image: url('../../assets/hero-image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  z-index: -3;
  position: fixed;
  overflow: hidden;
  
  height: 100vh;
}

.landingSand {
  width: 100vw;
  height: 100vh;
  background-image: url('../../assets/hero-image-sand.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  z-index: -2;
  position: fixed;
  
  animation: sandSlideIn 3500ms ease-out 3500ms 1 normal forwards;
  height: 100vh;
}

.harrison {
  width: 100vw;
  height: 100vh;
  background-image: url('../../assets/hero-harrison.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  z-index: -1;
  position: fixed;
  
  
  height: 100vh;

  animation: slideIn 2500ms ease-out 2000ms 1 normal forwards;
}

@keyframes slideIn {
  from {
    transform: translate3d(-100%, -80%, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes sandSlideIn {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}



.heroContainer {
  display: flex;
  flex-direction: column;
  max-width: 70%;
  /* max-height: 70%; */
  /* overflow: hidden; */
  color: red;
  /* display:inline-flex; */
  /* background-color: none; */
  /* width: 100vh;
  height: 100vh;*/
  /* background-color: red; */
  
}
.name {
  position: relative;
  top: 472px;
  left: 833px;
  width: 938px;
  height: 136px;
  font-size: var(--fs-900);
  overflow: hidden;
  /* background-color: red; */
  

  color: var(---414a56);
  text-align: left;
  font: normal normal bold 100px/136px Open Sans;
  letter-spacing: 1px;
  color: #414A56;
  opacity: 1;


/* Layout Properties */
top: 472px;
left: 833px;
width: 938px;
height: 136px;
/* UI Properties */
font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-100)/var(--unnamed-line-spacing-136) var(--unnamed-font-family-open-sans);
letter-spacing: var(--unnamed-character-spacing-1);
color: var(---414a56);
text-align: left;
font: normal normal bold 100px/136px Open Sans;
letter-spacing: 1px;
color: #414A56;
opacity: 1;
}

ul {
  position: relative;

  /* Layout Properties */
  top: 616px;
  left: 833px;
  width: 927px;
  height: 70px;
  /* UI Properties */
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-51)/var(--unnamed-line-spacing-70) var(--unnamed-font-family-open-sans);
  letter-spacing: var(--unnamed-character-spacing-0-51);
  color: var(--unnamed-color-86a4ca);
  text-align: left;
  font: normal normal 600 51px/70px Open Sans;
  letter-spacing: 0.51px;
  color: #86A4CA;
  opacity: 1;
  overflow: hidden;

}

li {
  text-decoration: none;
  list-style-type: none;
  padding: 0 .2rem;
  width: auto;

  
}


@media (max-width: 390px) {

  body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;

  }

  .landing {
    width: 100%;
    height: 100%;
    background-position: 30%;
  }
  
  .landingSand {
    width: 100%;
    height: 100%;
    background-position: left -200px bottom -200px;

  }

  .harrison {
    width: 100%;
    height: 100%;
    /* background-position-x: 13%; */
    /* background-position-y: 50%; */
    background-position: left -230px bottom -200px;
    /* background: url('../../assets/hero-harrison.png') 20px 80px no-repeat cover; */

  }



  .name {
    top: 20px;
    left: 10px;
    width: 100%;
    font-size: 5em;
    /* font-size: 2em; */
  }

  
  ul {
    top: 35px;
    left: 20px;
    width: auto;

  }


}


/* position: relative;
top: 472px;
left: 833px;
width: 938px;
height: 136px;
font-size: var(--fs-900);


color: var(---414a56);
text-align: left;
font: normal normal bold 100px/136px Open Sans;
letter-spacing: 1px;
color: #414A56;
opacity: 1; */

/* width: 100vw;
height: 100vh;
background-image: url('../../assets/hero-image.jpg');
background-repeat: no-repeat;
background-size: cover;
background-position: left;
z-index: -3;
position: fixed;

height: 100vh; */