.landingContainer {
  min-width: 85vw;
  display: flex;
  overflow-y: hidden;
  overflow-x: hidden;
  font-size: var(--fs-900);
  /* justify-content: flex-end; */
}

.landingContainer > .landing {
  
}

.landing {
  width: 100vw;
  height: 100vh;
  background-image: url('../../assets/hero-image.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  background-position: left;
  position: absolute;
  z-index: -3;
  clip-path: polygon(0 0, 27% 0, 56% 100%, 0 100%);
  
}

.heroContentContainer {
  /* background-color: red; */
  width: 100%;
  justify-content: flex-end;
  align-content: flex-end;
  border: 5px red solid;
}

.sand {
  width: 100vh;
  height: 100vh;
  background-size: cover;
  /* border: 5px rgb(0, 255, 123) solid; */
  background-image: url('../../assets/hero-image-sand.png');
  position: absolute;
  z-index: -2;
}

.meImg {
  width: 100vh;
  height: 100vh;
  background-size: cover;
  position: absolute;
  /* border: 5px rgb(0, 30, 255) solid; */
  background-image: url('../../assets/hero-harrison.png');
  z-index: -1;
}