.connectContainer {
  min-width: 100vw;
  display: flex;
  overflow-y: hidden;
  overflow-x: hidden;
  font-size: var(--fs-900);
  justify-content: flex-end;
}


.heroImg {
  width: 100vw;
  height: 100vh;
  background-image: url('../../assets/hGrass.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position:80% ; */
  position: absolute;
  z-index: 3;
  clip-path: polygon(0 0, 27% 0, 56% 100%, 0 100%);

}

.connectTextContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: flex-end;
  margin: 0 3rem;
  padding-bottom: 9em;
  /* border: 2px red solid; */
}

.connect > h1 {
  font-size: 5rem;
  margin-bottom: .5rem;
}

.socialLinks {
  /* border: 4px red solid; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socialLinks > a > img, .resume > img:hover {
  cursor: pointer;
}

.socialLinks > a > img, .resume > img {
  width: 3em;
  justify-content: space-around;

  /* border: 1px red solid; */
}

.resume > a > img {
  margin-right: 0;
}

.form {
  /* border: solid red 2px; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 1.5em 0;
  width: 90%;
}

.formTop {
  display: flex;
  /* border: 2px solid blueviolet; */
  justify-content: space-between;

}

.formTop> * {
  width: 40%;
}


.topName,
.topEmail,
.message > label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1.3em;
}

.formTop> div > input {
  width: 94%;
  height: 2em;
  border-radius: 5px;
  /* background-color: red; */
}

.message {
  margin-top: 2em;
}

.message > textarea {
  border-radius: 5px;
  border-width: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  height: 8em;
}

.message {
  display: flex;
  flex-direction: column;

}

.sendMessageBtn {
  width: 35%;
  align-items: center;

  /* CSS */
  margin: 1em 0 0 0;
  padding: 1.3em 3em;
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #1afe98;
  background-image: linear-gradient(45deg, #1afe98 0%, #dbb279 51%, #c97b0d 100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.sendMessageBtn:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.sendMessageBtn:active {
  transform: scale(0.95);

}

input, textarea {
    font-family: 'Montserrat', sans-serif;
    padding-left: .6em;

}

textarea {
  padding-top: .5em;
}

.popTitle {
  color: #61c9a8;
}
