.landingContainer {
  min-width: 100vw;
  display: flex;
  overflow-y: hidden;
  overflow-x: hidden;
  font-size: var(--fs-900);
}

.heroImg {
  width: 100vw;
  height: 100vh;
  background-image: url('../../assets/hGrass.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 3;
  clip-path: polygon(0 0, 27% 0, 56% 100%, 0 100%);

}