.projectListBody {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* border: 1px blue solid; */
  /* width: 0%; */
  /* width: 80; */
  /* height: 100%; */
  /* height: 100%; */
  /* overflow-y: scroll; */
  /* scroll-snap-align: auto; */
  list-style-type: none;
  height: 100%;
  padding-right: .7rem;
}

.projectListBody > * {
  height: 100%;
}

@media screen and (max-width:1275px ) {
  .projectListBody{
    flex-direction: column; 
    align-items: center;
  }
  
  .projectListBody > * {
    border: 2px solid red;
    text-align: center;
    margin: 0 0;
    padding: 0 0;
    border: 0 0;
    width: 80vw;
  }
  
  .projectTextContainer { 
    ;
  }
  
  .mobileImgContainer {
    display: block;

  }
  
}