.projectCard {
  position: relative;
  border: 5px solid red;
  /* height: 200px; */
  width: 48vw;
  list-style-type: none;
  margin-bottom: 5em;
  
}

.imageContainer > img {
  /* border: 5px solid red; */
  /* height: 200px; */
  width: 100%;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}

.links > a > h2 {
  font-size: 3rem;
  margin: .2em;
  border-left: 4px solid rgb(7, 5, 28);
  padding-left: .2em;
  color: black;
}

.links > a {
  color: black;
  cursor: pointer;
}

.links > a > img {
  width: 3em;
  height: 3em;
}

.imageContainer {
  position: relative;
  border: 5px solid red;
}

.imageContainer > p {
  display: none;
  position: absolute;
  width: 90%;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  font-size: 1.5rem;
  letter-spacing: 0.51px;
  line-height: 2rem;
}

.imageContainer:hover img {
  filter: brightness(40%);
}

.imageContainer:hover > p {
  display: block;
}