html,
body,
#root,
main {
  margin: 0;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  display: flex;
}

.navBar > * {
  border: red 4px solid;
  
}