  @import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap');


.navigationBar {
  /* height: 100vh; */
  display: flex;
  width: 100vw;
  /* display: flex; */
  flex-direction: column;
  justify-content: space-evenly;
  /* align-items: right; */
  /* border: 4px solid blue; */
  /* background-color: rgba(4, 4, 19, 0.8); */

}

.navigationBar a {
  text-decoration: none;
  /* margin-left: 24px; */
  font-weight: 500;
  font-size: 22px;
  color: #D7B27B;
}

.navigationBar a:hover{
  cursor: pointer;
  border-bottom: #61c9a8 1px solid;
}

#logo:hover {
  border-bottom: none;
}

@media only screen and (max-width: 1024px) {
  .navigationBar > * {
    display: none;
    background-color: blue;
    max-width: 95vw;
  }
}

/* .navBar {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  visibility: hidden;
  opacity: 0;
}

@media only screen and (max-width: 1024px) {
  .navBar {
    visibility: visible;
    opacity: 1;
  }

  nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    transition: 1s;
    transform: translateY(-100vh);
  }

  .responsive_nav {
    transform: none;
  }

  .nav_close_Btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
} */


/* .pageLinks a:hover {
  font-size: 24px
} */

/* #logo:hover {
  border-bottom: none;
} */








#logo {
  /* border: red 4px solid; */
  height: auto;
  width: auto;
}

.navigationBar {
  position: fixed;
  width: 100vw;
  right: 0;
  z-index: 1;
  display: flex;
  /* justify-content: space-between; */
  align-items: flex-end;
  height: 80px;
  padding: 0 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.pageLinks {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #D7B27B;
}

.pageLinks > * {
  margin: 0 1em;
  font-weight: 500;
  font-size: 22px;
  color: #D7B27B;
}

#logo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 10px;
}

#logo > * {
  height: 50px;
  margin: 0 2em;
}

.hamburger {
  border: 0;
  height: 45px;
  width: 45px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #ee931b;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
 /* positions the icon to the right and center aligns it vertically */
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
}
.hamburger:hover {
  background-color: #14e1aa;
}

/* 
@media screen and (max-width: 890px ) {
  .hamburger {
    display: block;
  }

  .pageLinks {
    display: none;
  }


  .navClosed {
    display: none;
  }

  .navOpen {
    color: red
  }
}
 */
